*{
    box-sizing: border-box;
    margin: 0;
    border: 0;
}
html{
    background-color: rgba(0, 0, 0, 0.524);
    height: 500px;
}
img{
    background-position: center;
    display: block;
    margin: auto;
    text-align: center;
    height: 500px;
    width: fit-content;
    cursor:default;
    border-radius: 5%;
    border:solid black 2px;
}
.click{
    display: block;
    cursor: pointer;
    margin: 50px auto;
    background-color: black;
    width: fit-content;
    padding: 50px;
    border-radius: 30%;
    color: white; 
    font-weight: bold;
}
a{
    text-decoration: none;
}